/* CSS declarations go here */
body {
    padding-top: 10px;
}

.breadcrumb {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 120%;
}

button {
    margin-right: 5px;
}

td.center, th.center {
    text-align: center;
}

tr.sprintRow, tr.projectRow {
    cursor: pointer;
}

.noSps {
    color: red;
}

