
<template name="dlgEditProject">
	<!-- Modal -->
	<div class="modal fade" id="dlgEditProject" tabindex="-1" role="dialog" aria-labelledby="dlgEditProjectLabel">
		<div class="modal-dialog">
			<div class="modal-content">
          {{#with project}}
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="dlgEditProjectLabel">Projekt bearbeiten</h4>
						</div>
						<div class="modal-body">
							<h2>Projekt bearbeiten</h2>
								<div class="form-group">
									<label for="projectNameInput">Name</label>
									<input type="text" class="form-control projectNameInput" placeholder="Projektname" value="{{name}}" id="projectNameInput">
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary btnSaveProject">Speichern</button>
							<button type="button" data-dismiss="modal" class="btn btn-default btnCancel">Verwerfen</button>
						</div>
          {{/with}}
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>
