
<template name="dlgEditAvailability">
<!-- Modal -->
<div class="modal fade" id="dlgEditAvailability" tabindex="-1" role="dialog" aria-labelledby="dlgEditAvailabilityLabel">
	<div class="modal-dialog">
		<div class="modal-content">
		{{#with availabilityEntity}}
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="dlgEditAvailabilityLabel">Verfügbarkeit bearbeiten</h4>
			</div>
			<div class="modal-body">
				<h2>Verfügbarkeit bearbeiten</h2>
					<div class="form-group">
						<label for="developerNameInput">Name</label>
						<input type="text" class="form-control developerNameInput" placeholder="Entwicklername" value="{{name}}" id="developerNameInput">
					</div>
					<div class="form-group">
						<label for="availabilityInput">Verfügbarkeit</label>
						<input type="text" class="form-control availabilityInput" placeholder="Entwicklername" value="{{availability}}" id="availabilityInput">
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btnSaveAvailability">Speichern</button>
				<button type="button" data-dismiss="modal" class="btn btn-default btnCancel">Verwerfen</button>
			</div>
		{{/with}}
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</template>
