<template name="projects">
	<div class="table-striped">
		{{#if projectsLoading}}
			Laden...
		{{else}}
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th class="center">Velocity</th>
						<th class="center">SPs</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-success btnCreateProject">Projekt erstellen</button>
                        </td>
                    </tr>
					{{#each projects}}
						<tr>
							<td>{{name}}</td>
							<td>
								<button class="btn btn-default btn-xs pull-right btnOpenSprints">Sprints</button>
								<button class="btn btn-default btn-xs pull-right btnEditProject">Bearbeiten</button>
							</td>
						</tr>
					{{else}}
						<tr>
							<td colspan="2"><div class="alert alert-info">Es wurden noch keine Projekte erfasst.</div></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{/if}}
	</div>
</template>