<template name="sprints">
	<div class="breadcrumb">
		{{#if currentUser}}
		<a href="{{urlFor route='projects'}}">Projekte</a> &raquo;
		{{/if}}
		{{selectedProject.name}}
	</div>
	<div class="table-striped">
		{{#if sprintsLoading}}
			Laden...
		{{else}}
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Datum Start</th>
						<th>Datum Stop</th>
						<th class="center">Verfügbarkeiten</th>
						<th class="center">Mögliche SPs</th>
						<th class="center">Erreichte SPs</th>
						<th class="center">Velocity</th>
                        <th></th>
					</tr>
				</thead>
				<tbody>
                    <tr>
                        <td colspan="8">
                                <button class="btn btn-success btnCreateSprint">Sprint anlegen</button>
                        </td>
                    </tr>
					{{#each sprints}}
						<tr class="sprintRow">
							<td>{{name}}</td>
							<td>{{formattedDate start}}</td>
							<td>{{formattedDate stop}}</td>
							<td class="center">{{availabilities}}</td>
							<td class="center">{{possibleSps}}</td>
							<td class="center">{{burnedSPs}}</td>
							<td class="center">{{velocity}}</td>
							<td>
								<button class="btn btn-default btn-xs pull-right btnOpenAvailabilities">Verfügbarkeiten</button>
								<button class="btn btn-default btn-xs pull-right btnEditSprint">Bearbeiten</button>
							</td>
						</tr>
					{{else}}
						<tr>
							<td colspan="8"><div class="alert alert-info">Es wurden noch kein Sprint erfasst.</div></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{/if}}
	</div>
</template>